@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-text: #8a99ad;
    --color-primary: #5febd5;
    --color-box: rgba(30, 41, 59, 0.5);
    --color-background: #0f172a;

    --height-header: 100px;
    --height-header-mobile: 60px;
}


* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
}

.nav--item:hover a {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
}

.social--item:hover a {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
}


.lds-dual-ring,
.lds-dual-ring:after {
    box-sizing: border-box;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}