@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    background-color: #0f172a;
}

.nav--item:hover a {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
}